.LoginForm {
  width: auto;
  height: auto;
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-form-login {
  text-align: center;
}

.LoginForm .header-form-login img {
  width: 130px;
  margin-bottom: 17px;
}

.LoginForm .header-form-login h2 {
  color: var(--main-color);
}

.LoginForm .header-form-login p {
  color: var(--secondary-color);
  font-size: 16px;
  margin-top: 8px;
  max-width: 400px;
}

.form-validate {
  margin-top: 20px;
}

.TextFieldLogin .MuiInputBase-root {
  width: 400px;
}

.TextFieldLogin
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--main-color) !important;
}

.TextFieldLogin .MuiFormLabel-root.Mui-focused {
  color: var(--main-color) !important;
}

.email-control,
.error-control,
.password-control {
  margin: 30px 0;
}

.footer-form-login p {
  text-align: center;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
}

.forgot-password span {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-color);
  display: flex;
  justify-content: end;
  cursor: pointer;
}

@media (max-width: 600px) {
  .LoginForm {
    width: 90%;
    padding: 20px;
  }
  .TextFieldLogin .MuiInputBase-root {
    width: 300px; /* Thiết lập chiều rộng mong muốn */
  }
}
