.page404 .center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page404 .error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.page404 .number {
  font-weight: 900;
  font-size: 15rem;
  line-height: 1;
}

.page404 .illustration {
  position: relative;
  width: 12.2rem;
  margin: 0 2.1rem;
}

.page404 .circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12.2rem;
  height: 11.4rem;
  border-radius: 50%;
  background-color: #293b49;
}

.page404 .clip {
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 12.5rem;
  height: 13rem;
  border-radius: 0 0 50% 50%;
}

.page404 .paper {
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.2rem;
  height: 12.4rem;
  border: 0.3rem solid #293b49;
  background-color: white;
  border-radius: 0.8rem;
}
.page404 .paper::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  width: 1.4rem;
  height: 1rem;
  background-color: white;
  border-bottom: 0.3rem solid #293b49;
  transform: rotate(45deg);
}

.page404 .face {
  position: relative;
  margin-top: 2.3rem;
}

.page404 .eyes {
  position: absolute;
  top: 0;
  left: 2.4rem;
  width: 4.6rem;
  height: 0.8rem;
}

.page404 .eye {
  position: absolute;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #293b49;
  animation-name: eye;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.page404 .eye-left {
  left: 0;
}
.page404 .eye-right {
  right: 0;
}
@keyframes eye {
  0% {
    height: 0.8rem;
  }
  50% {
    height: 0.8rem;
  }
  52% {
    height: 0.1rem;
  }
  54% {
    height: 0.8rem;
  }
  100% {
    height: 0.8rem;
  }
}

.page404 .rosyCheeks {
  position: absolute;
  top: 1.6rem;
  width: 1rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #fdabaf;
}
.page404 .rosyCheeks-left {
  left: 1.4rem;
}
.page404 .rosyCheeks-right {
  right: 1.4rem;
}

.page404 .mouth {
  position: absolute;
  top: 3.1rem;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  transform: translateX(-50%);
  background-color: #293b49;
}

.page404 .button {
  margin-top: 4rem;
  padding: 1.2rem 3rem;
  color: white;
  background-color: #04cba0;
}
.page404 .button:hover {
  background-color: #01ac88;
}

.page404 .by {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  text-transform: uppercase;
  color: #293b49;
}

.page404 .byLink {
  color: #04cba0;
}

.text-404 {
  font-size: 30px;
  margin-top: 15px;
  color: rgb(106, 104, 106);
  text-align: center;
}

.page404 .btn-goback-page {
  background-color: var(--main-color);
  color: var(--bg-color);
  margin-top: 15px;
  width: 120px;
}

.page404 .btn-goback-page:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

@media screen and (max-width: 600px) {
  .page404 .center {
    height: 100%;
    width: 90%;
    top: 50%;
  }
  .page404 .number {
    font-weight: 900;
    font-size: 8rem;
  }
}
