.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem; /* 64px */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem; /* 16px */
  z-index: 100;
  background-color: var(--background-color);
  border-bottom: 2px solid var(--body-color);
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right > * {
  margin: 0 0.5rem;     
  font-size: 1.25rem;    
  color: rgb(105, 105, 105);
  cursor: pointer;
}

.btn-toggle-sidebar {
  color: var(--main-color);
  height: 1.125rem !important;
  width: 1.125rem !important;
}

/* Tablet ≥600px */
@media screen and (min-width: 600px) {
  .nav-right > * {
    font-size: 1.375rem; 
  }
  .navbar {
    left: 5.5rem; /* 88px (sidebar closed) */
    width: calc(100% - 5.5rem);
  }
  .navbar.fullWidth {
    left: 0;
    width: 100%;
  }
}

/* Desktop ≥1024px */
@media screen and (min-width: 1024px) {
  .nav-right > * {
    font-size: 1.5625rem;
  }
  .navbar {
    left: 15.625rem; /* 250px (sidebar open) */
    width: calc(100% - 15.625rem);
  }
  .navbar.fullWidth {
    left: 5.5rem; /* 88px */
    width: calc(100% - 5.5rem);
  }
}